@font-face {
  font-family: OpenSans_Regular;
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: OpenSans_Bold;
  src: url("../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: OpenSans_BoldItalic;
  src: url("../fonts/OpenSans-BoldItalic.ttf"); }
@font-face {
  font-family: OpenSans_CondBold;
  src: url("../fonts/OpenSans-BoldItalic.ttf"); }
@font-face {
  font-family: OpenSans_CondLight;
  src: url("../fonts/CondLight.ttf"); }
@font-face {
  font-family: MuseoSans_300;
  src: url("../fonts/MuseoSans-300.otf"); }
@font-face {
  font-family: MuseoSans_500;
  src: url("../fonts/MuseoSans_500.otf"); }
@font-face {
  font-family: MuseoSans_700;
  src: url("../fonts/MuseoSans_700.otf"); }
@font-face {
  font-family: MuseoSans_700;
  src: url("../fonts/MuseoSans_700.otf"); }
/* Colors */
/* For grids */
/* Spacing */
/* Heights */
/* Colors */
/* For grids */
/* Spacing */
/* Heights */
.row::after {
  content: "";
  clear: both;
  display: table; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/* Colors */
/* For grids */
/* Spacing */
/* Heights */
/* Medium screens */
@media all and (max-width: 768px) {
  .header nav {
    position: absolute;
    top: 80px;
    width: 100%;
    background: #5fc0c3;
    margin-left: -15px; }

  .header__menu li {
    width: 100%;
    padding: 12px !important; }
    .header__menu li a:hover {
      color: #fff; }

  .header__menu li.last a {
    border: none !important;
    padding: 12px 0 !important; }

  .banner__container {
    width: 95% !important; }

  .banner__container .views-row .views-field-body {
    padding: 0px 60px !important; }

  .banner__container {
    padding-top: 60px !important; }

  .featured__container {
    width: 95% !important; }

  .featured__container .views-row .views-field-body {
    width: 50%; }

  .content_top {
    width: 95% !important;
    padding: 0 !important; }

  .content_top .views-row.views-row-even {
    padding: 30px !important; }

  .content_top .views-row {
    width: 45% !important; }

  .content__container--inner {
    width: 95% !important; }

  .content__container--inner .view-our-vision .views-row {
    width: 47% !important; }

  .content__container--inner .view-our-vision .views-row.views-row-even {
    padding-left: 30px !important;
    padding-right: 0px !important; }

  .content__container--inner .view-our-members .views-row {
    padding: 36px !important; }

  .content_bottom {
    width: 85% !important; } }
@media all and (min-width: 768px) {
  header .navToggle {
    display: none; } }
body {
  margin: 0 auto;
  color: #565659; }

a {
  text-decoration: none; }

h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px; }

.hidden {
  display: none !important; }

.header {
  height: 80px;
  overflow: hidden;
  background: #fff; }
  .header__container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 15px; }
  .header__logo {
    padding: 24px 0; }
    .header__logo .navToggle {
      float: right;
      position: absolute;
      right: 0;
      top: 25px;
      margin-right: 15px;
      font-family: "MuseoSans_500"; }
      .header__logo .navToggle:before {
        content: "\f0c9";
        font-family: "fontawesome"; }
    .header__logo img {
      max-height: 28px; }
  .header__brand {
    float: left; }
  .header nav {
    float: right; }
  .header__menu ul {
    margin: 0;
    padding: 30px 0; }
  .header__menu li {
    display: inline-block;
    padding: 0 12px;
    font-family: "MuseoSans_500";
    font-weight: 500; }
    .header__menu li a {
      text-transform: uppercase; }
    .header__menu li.last a {
      padding: 12px 22px;
      border: 1px solid #5fc0c3;
      text-transform: uppercase; }
      .header__menu li.last a:hover {
        background: #5fc0c3;
        color: #fff !important; }

.banner {
  height: 456px;
  background: url(../images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .banner__container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    color: #fff;
    text-align: center;
    padding-top: 85px; }
    .banner__container a {
      color: #fff; }
    .banner__container .views-row .views-field-title {
      font-family: "MuseoSans_300";
      text-transform: uppercase;
      font-size: 46px; }
    .banner__container .views-row .views-field-body {
      font-family: "OpenSans_Regular", "OpenSans";
      font-size: 14px;
      padding: 0px 280px;
      line-height: 2.2em; }
      .banner__container .views-row .views-field-body strong {
        font-weight: bold;
        font-size: 16px; }

.featured {
  background: #f1f2f5; }
  .featured a {
    color: #565659; }
  .featured__container {
    height: 114px;
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 15px; }
    .featured__container .views-row .views-field-title {
      font-family: "MuseoSans_500";
      position: relative;
      top: 6px;
      padding-top: 26px; }
      .featured__container .views-row .views-field-title span {
        color: #5fc0c3; }
    .featured__container .views-row .views-field-body {
      font-family: "OpenSans";
      position: relative;
      top: -8px; }
    .featured__container .views-row .views-field-view-node {
      font-family: "MuseoSans_500";
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      top: -66px;
      right: 0px;
      float: right; }
      .featured__container .views-row .views-field-view-node a {
        color: #fff;
        background: #5fc0c3;
        width: 80px;
        padding: 14px;
        display: block;
        border: 1px solid #5fc0c3; }
        .featured__container .views-row .views-field-view-node a:hover {
          color: #585b61;
          background: #fff;
          border: 1px solid #5fc0c3; }

.content_top {
  padding-top: 38px;
  max-width: 1170px;
  width: 100%;
  margin: auto;
  padding: 0 15px; }
  .content_top__container {
    padding-top: 18px; }
  .content_top h2 {
    font-family: "MuseoSans_500";
    text-align: center;
    color: #575656; }
  .content_top .view-get-involved {
    padding-bottom: 38px; }
  .content_top .views-row {
    width: 33%;
    max-width: 347px;
    display: inline-block;
    text-align: center; }
    .content_top .views-row.views-row-even {
      padding: 0 60px; }
    .content_top .views-row .views-field-title {
      text-transform: uppercase;
      font-family: "MuseoSans_500";
      font-size: 16px; }
    .content_top .views-row .views-field-field-link a {
      color: #5fc0c3;
      display: block;
      text-transform: uppercase;
      font-family: "MuseoSans_500";
      font-size: 14px;
      border: 1px solid #5fc0c3;
      padding: 14px 0;
      margin: 0 66px; }
      .content_top .views-row .views-field-field-link a:hover {
        border: 1px solid #5fc0c3;
        background: #5fc0c3;
        color: #fff; }
      .content_top .views-row .views-field-field-link a.btn {
        display: none; }
    .content_top .views-row .views-field-body {
      font-family: "OpenSans";
      font-size: 14px;
      padding-bottom: 12px; }
    .content_top .views-row .views-field-field-logo {
      padding-bottom: 32px; }

.content__container {
  background: #f1f2f5; }
  .content__container--inner {
    max-width: 1170px;
    width: 100%;
    margin: auto; }
    .content__container--inner h1 {
      font-family: "MuseoSans_500";
      font-weight: normal !important;
      text-align: center;
      padding-top: 28px;
      padding-bottom: 24px;
      margin: 0;
      color: #575656; }
    .content__container--inner h2 {
      font-family: "MuseoSans_500";
      text-align: center;
      padding-top: 48px;
      padding-bottom: 24px;
      margin: 0;
      color: #575656; }
    .content__container--inner .view-our-members {
      clear: both; }
      .content__container--inner .view-our-members .views-row {
        width: 20%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        max-width: 230px;
        padding-bottom: 36px; }
    .content__container--inner .view-our-vision {
      padding-bottom: 48px;
      border-bottom: 1px solid #d9dadd; }
      .content__container--inner .view-our-vision p {
        text-align: center;
        font-family: "OpenSans"; }
        .content__container--inner .view-our-vision p strong {
          font-family: "MuseoSans_500"; }
      .content__container--inner .view-our-vision .views-row {
        width: 33%;
        max-width: 367px;
        display: inline-block;
        text-align: center; }
        .content__container--inner .view-our-vision .views-row.views-row-even {
          padding: 0 30px; }
        .content__container--inner .view-our-vision .views-row .views-field-field-icon {
          text-align: center; }
          .content__container--inner .view-our-vision .views-row .views-field-field-icon .field-content img {
            background: #fff;
            padding: 10px;
            border-radius: 80px;
            position: relative;
            top: 52px; }
        .content__container--inner .view-our-vision .views-row .views-field-title {
          padding: 60px 0 18px 0;
          background: #fff;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px; }
          .content__container--inner .view-our-vision .views-row .views-field-title .field-content {
            padding: 0 28px; }
          .content__container--inner .view-our-vision .views-row .views-field-title a {
            color: #5fc0c3;
            font-family: "MuseoSans_500";
            font-size: 16px; }
        .content__container--inner .view-our-vision .views-row .views-field-field-sub-title {
          padding-bottom: 32px;
          line-height: 22px;
          background: #fff;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px; }
          .content__container--inner .view-our-vision .views-row .views-field-field-sub-title .field-content {
            padding: 0 28px; }
.content .pager {
  padding: 0 0 32px 0; }
  .content .pager li {
    margin: 0; }
    .content .pager li.pager-current {
      background: #5fc0c3;
      font-size: 0px;
      padding: 5px;
      border-radius: 5px; }
    .content .pager li a {
      background: #979eb1;
      font-size: 0px;
      padding: 5px;
      border-radius: 5px; }
    .content .pager li.pager-next {
      display: none; }
    .content .pager li.pager-previous {
      display: none; }
    .content .pager li.pager-first {
      display: none; }
    .content .pager li.pager-last {
      display: none; }
.content__container {
  background: #f1f2f5; }

.content_bottom {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  padding: 0 15px; }
  .content_bottom h2 {
    font-family: "MuseoSans_500", "sans-serif";
    text-align: center;
    padding-top: 28px;
    padding-bottom: 24px;
    margin: 0;
    color: #575656; }
  .content_bottom__container {
    color: #5b6172; }
    .content_bottom__container .jcarousel {
      max-width: 1170px;
      height: 218px; }
      .content_bottom__container .jcarousel-container {
        width: 100% !important;
        max-width: 1170px !important; }
      .content_bottom__container .jcarousel-clip {
        overflow: hidden;
        max-width: 1170px;
        width: 100% !important; }
      .content_bottom__container .jcarousel li.jcarousel-item {
        float: left;
        width: 25%;
        max-width: 270px; }
        .content_bottom__container .jcarousel li.jcarousel-item .views-field-title {
          border-bottom: 1px solid #f1f2f5;
          padding-bottom: 10px; }
        .content_bottom__container .jcarousel li.jcarousel-item .views-field-body {
          border-bottom: 1px solid #f1f2f5;
          padding-bottom: 26px; }
        .content_bottom__container .jcarousel li.jcarousel-item .views-field-created {
          border-bottom: 1px solid #f1f2f5;
          padding-top: 10px;
          padding-bottom: 24px; }
      .content_bottom__container .jcarousel li:nth-child(2) {
        padding-left: 30px;
        padding-right: 30px; }
      .content_bottom__container .jcarousel li:nth-child(3) {
        padding-right: 30px; }
    .content_bottom__container .jcarousel-next {
      font-size: 20px;
      height: 20px;
      width: 20px; }
      .content_bottom__container .jcarousel-next::before {
        font-family: "fontawesome" !important;
        content: "\f105";
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: -30px; }
    .content_bottom__container .jcarousel-prev::before {
      font-family: "fontawesome" !important;
      content: "\f104";
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: -30px; }
    .content_bottom__container .views-row {
      float: left;
      width: 25%;
      padding-left: 30px;
      max-width: 270px; }
      .content_bottom__container .views-row.views-row-first {
        padding-left: 0; }
    .content_bottom__container a {
      color: #5fc0c3;
      font-family: "Open Sans Semibold", "Open Sans", "sans-serif"; }
      .content_bottom__container a:hover {
        color: #5b6172; }

.footer {
  background: #454850;
  color: #969eb6;
  font-family: "OpenSans-Regular", "sans-serif"; }
  .footer a {
    color: #5fc0c3; }
    .footer a:hover {
      color: #fff; }
  .footer__item {
    text-align: center;
    font-size: 14px; }
    .footer__item--first {
      padding-top: 30px;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid #585b61;
      box-shadow: 0 -1px 0 #4a4e57 inset; }
    .footer__item--last {
      padding-bottom: 22px; }
    .footer__item ul {
      padding: 0;
      margin: 0; }
    .footer__item i {
      font-size: 17px;
      font-weight: bold; }
  .footer__nav > li {
    display: inline-block;
    padding-right: 18px; }
  .footer__container {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    max-width: 1170px; }

/*# sourceMappingURL=style.css.map */
