
@font-face {
  font-family: OpenSans_Regular;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans_Bold;
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans_BoldItalic;
  src: url('../fonts/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: OpenSans_CondBold;
  src: url('../fonts/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: OpenSans_CondLight;
  src: url('../fonts/CondLight.ttf');
}

@font-face {
  font-family: MuseoSans_300;
  src: url('../fonts/MuseoSans-300.otf');
}

@font-face {
  font-family: MuseoSans_500;
  src: url('../fonts/MuseoSans_500.otf');
}

@font-face {
  font-family: MuseoSans_700;
  src: url('../fonts/MuseoSans_700.otf');
}

@font-face {
  font-family: MuseoSans_700;
  src: url('../fonts/MuseoSans_700.otf');
}
