@import "variables";

.row::after {
  content: "";
  clear: both;
  display: table;
}

//[class*="col-"] {
//   float: left;
//   padding: $standard--padding;
// }

.col-1 {
  width: $col__1--size;
}

.col-2 {
  width: $col__2--size;
}

.col-3 {
  width: $col__3--size;
}

.col-4 {
  width: $col__4--size;
}

.col-5 {
  width: $col__5--size;
}

.col-6 {
  width: $col__6--size;
}

.col-7 {
  width: $col__7--size;
}

.col-8 {
  width: $col__8--size;
}

.col-9 {
  width: $col__9--size;
}

.col-10 {
  width: $col__10--size;
}

.col-11 {
  width: $col__11--size;
}

.col-12 {
  width: $col__12--size;
}
