@import "variables";

/* Medium screens */
@media all and (max-width: 768px) {
    .header nav {
      position: absolute;
      top: 80px;
      width: 100%;
      background: $color-primary;
      margin-left: -15px;
    }

    .header__menu li{
      width: 100%;
      padding: 12px !important;

      a{
        &:hover{
          color: $white;
        }
      }
    }

    .header__menu li.last a{
      border: none !important;
      padding: 12px 0 !important;
    }

    .banner__container{
      width: 95% !important;
    }

    .banner__container .views-row .views-field-body{
      padding: 0px 60px !important;
    }

    .banner__container{
      padding-top: 60px !important;
    }

    .featured__container{
      width: 95% !important;
    }

    .featured__container .views-row .views-field-body{
      width: 50%;
    }

    .content_top{
      width: 95% !important;;
      padding: 0 !important;;
    }

    .content_top .views-row.views-row-even{
      padding: 30px !important;
    }

    .content_top .views-row {
      width: 45% !important;
    }

    .content__container--inner{
      width: 95% !important;
    }

    .content__container--inner .view-our-vision .views-row {
      width: 47% !important;
    }

    .content__container--inner .view-our-vision .views-row.views-row-even {
      padding-left: 30px !important;
      padding-right: 0px !important;
    }

    .content__container--inner .view-our-members .views-row{
      padding: 36px !important;
    }

    .content_bottom{
      width: 85% !important;
    }
}

@media all and (min-width: 768px) {
  header .navToggle {
      display: none;
  }
}
