/* Colors */
$color-primary: #5fc0c3;
$color-secondary: #565659;
$color-secondary-dark: #454850;
$color-secondary-light: #969eb6;
$color-headings: #575656;
$grey: #585b61;
$shadow: #4a4e57;
$color-hover-primary: #fff;
$color-hover-secondary: #5b6172;
$light-grey: #f1f2f5;
$white: #fff;

/* For grids */
$col__1--size: 8.33%;
$col__2--size: 16.66%;
$col__3--size: 25%;
$col__4--size: 33.33%;
$col__5--size: 41.66%;
$col__6--size: 50%;
$col__7--size: 58.33%;
$col__8--size: 66.66%;
$col__9--size: 75%;
$col__10--size: 83.33%;
$col__11--size: 91.66%;
$col__12--size: 100%;

/* Spacing */
$standard--padding: 15px;

/* Heights */
$footer-height: 212px;
