@import "fonts";
@import "variables";
@import "layout";
@import "responsive";

body{
  margin: 0 auto;
  color: $color-secondary;
}

a{
  text-decoration: none;
}

h2{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}

.hidden{
  display: none !important;
}

.header{
  height: 80px;
  overflow: hidden;
  background: $white;

  &__container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 $standard--padding;
    }

  &__logo{
    padding: 24px 0;

    .navToggle{
      float: right;
      position: absolute;
      right: 0;
      top: 25px;
      margin-right: 15px;
      font-family: "MuseoSans_500";

      &:before{
        content: "\f0c9";
        font-family: "fontawesome";
      }
    }

    img{
        max-height: 28px;
    }
  }

  &__brand{
    float: left;
  }

  nav{
    float: right;
  }

  &__menu{
    ul{
      margin: 0;
      padding: 30px 0;
    }

    li{
      display: inline-block;
      padding: 0 12px;
      font-family: "MuseoSans_500";
      font-weight: 500;

      a{
        text-transform: uppercase;
      }

      &.last{
        a{
          padding: 12px 22px;
          border: 1px solid $color-primary;
          text-transform: uppercase;

          &:hover{
            background: $color-primary;
            color: $white !important;
          }
        }
      }
    }
  }
}

.banner{
  height: 456px;
  background: url(../images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &__container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 $standard--padding;
    color: $white;
    text-align: center;
    padding-top: 85px;

    a{
      color: $white;
    }
    .views-row{
      .views-field-title{
          font-family: "MuseoSans_300";
          text-transform: uppercase;
          font-size: 46px;
      }

      .views-field-body{
        font-family: "OpenSans_Regular", "OpenSans";
        font-size: 14px;
        padding: 0px 280px;
        line-height: 2.2em;

        strong{
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

.featured{
  background: $light-grey;

  a{
    color: $color-secondary;
  }

  &__container{
    height: 114px;
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 $standard--padding;


    .views-row{
      .views-field-title{
        font-family: "MuseoSans_500";
        position: relative;
        top: 6px;
        padding-top: 26px;

        span{
          color: $color-primary;
        }
      }

      .views-field-body{
        font-family: "OpenSans";
        position: relative;
        top: -8px;
      }

      .views-field-view-node{
        font-family: "MuseoSans_500";
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: -66px;
        right: 0px;
        float: right;

        a{
          color: $white;
          background: $color-primary;
          width: 80px;
          padding: 14px;
          display: block;
          border: 1px solid $color-primary;

          &:hover{
            color: $grey;
            background: $white;
            border: 1px solid $color-primary;
          }
        }
      }
    }
  }
}

.content_top{
  padding-top: 38px;
  max-width: 1170px;
  width: 100%;
  margin: auto;
  padding: 0 $standard--padding;

  &__container{
    padding-top: 18px;
  }

  h2{
    font-family: "MuseoSans_500";
    text-align: center;
    color: #575656;
  }

  .view-get-involved{
    padding-bottom: 38px;
  }

  .views-row{
    width: 33%;
    max-width: 347px;
    display: inline-block;
    text-align: center;

    &.views-row-even{
      padding: 0 60px;
    }

    .views-field-title{
      text-transform: uppercase;
      font-family: "MuseoSans_500";
      font-size: 16px;
    }

    .views-field-field-link{
      a{
        color: $color-primary;
        display: block;
        text-transform: uppercase;
        font-family: "MuseoSans_500";
        font-size: 14px;
        border: 1px solid $color-primary;
        padding: 14px 0;
        margin: 0 66px;

        &:hover{
          border: 1px solid $color-primary;
          background: $color-primary;
          color: $white;
        }

        &.btn{
          display: none;
        }
      }
    }

    .views-field-body{
      font-family: "OpenSans";
      font-size: 14px;
      padding-bottom: 12px;
    }

    .views-field-field-logo{
      padding-bottom: 32px;
    }
  }
}

.content{

  &__container{
    background: #f1f2f5;

    &--inner{
      max-width: 1170px;
      width: 100%;
      margin: auto;

      h1{
        font-family: "MuseoSans_500";
        font-weight: normal !important;
        text-align: center;
        padding-top: 28px;
        padding-bottom: 24px;
        margin: 0;
        color: #575656;
      }

      h2{
        font-family: "MuseoSans_500";
        text-align: center;
        padding-top: 48px;
        padding-bottom: 24px;
        margin: 0;
        color: #575656;
      }

      .view-our-members{
        clear: both;

        .views-row{
          width: 20%;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          max-width: 230px;
          padding-bottom: 36px;
        }
      }

      .view-our-vision{
        padding-bottom: 48px;
        border-bottom: 1px solid #d9dadd;

        p{
          text-align: center;
          font-family: "OpenSans";

          strong{
            font-family: "MuseoSans_500";
          }
        }

        .views-row{
          width: 33%;
          max-width: 367px;
          display: inline-block;
          text-align: center;

          &.views-row-even{
            padding: 0 30px;
          }

          .views-field-field-icon{
            text-align: center;

            .field-content{
              img{
                background: #fff;
                padding: 10px;
                border-radius: 80px;
                position: relative;
                top: 52px;
              }
            }
          }

          .views-field-title{
            padding: 60px 0 18px 0;
            background: $white;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

            .field-content{
              padding: 0 28px;
            }

            a{
              color: $color-primary;
              font-family: "MuseoSans_500";
              font-size: 16px;
            }
          }

          .views-field-field-sub-title{
            padding-bottom: 32px;
            line-height: 22px;
            background: $white;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            .field-content{
              padding: 0 28px;
            }
          }
        }
      }
    }

  }

  .pager{
      padding: 0 0 32px 0;


    li{
      margin: 0;

      &.pager-current{
        background: $color-primary;
        font-size: 0px;
        padding: 5px;
        border-radius: 5px;
      }

      a{
        background: #979eb1;
        font-size: 0px;
        padding: 5px;
        border-radius: 5px;
      }
      //
      // &:after{
      //   content: "\f111";
      //   font-family: "fontawesome";
      //   color: $color-primary;
      // }

      &.pager-next{
        display: none;
      }

      &.pager-previous{
        display: none;
      }

      &.pager-first{
        display: none;
      }

      &.pager-last{
        display: none;
      }
    }
  }

  &__container{
    background: #f1f2f5;
  }
}

.content_bottom{
  max-width: 1170px;
  width: 100%;
  margin: auto;
  padding: 0 $standard--padding;

  h2{
    font-family: "MuseoSans_500", "sans-serif";
    text-align: center;
    padding-top: 28px;
    padding-bottom: 24px;
    margin: 0;
    color: $color-headings;
  }

  &__container{
    color: $color-hover-secondary;

    .jcarousel{
      max-width: 1170px;
      height: 218px;

      &-container{
        width: 100% !important;
        max-width: 1170px !important;
      }

      &-clip{
        overflow: hidden;
        max-width: 1170px;
        width: 100% !important;
      }

      li{
        &.jcarousel-item{
          float: left;
          width: 25%;
          max-width: 270px;

          .views-field-title{
            border-bottom: 1px solid $light-grey;
            padding-bottom: 10px;
          }

          .views-field-body{
            border-bottom: 1px solid $light-grey;
            padding-bottom: 26px;
          }

          .views-field-created{
            border-bottom: 1px solid $light-grey;
            padding-top: 10px;
            padding-bottom: 24px;
          }
        }

        &:nth-child(2){
          padding-left: 30px;
          padding-right: 30px;
        }

        &:nth-child(3){
          padding-right: 30px;
        }
      }
    }

    .jcarousel-next{
      font-size: 20px;
      height: 20px;
      width: 20px;

      &::before{
        font-family: "fontawesome" !important;
        content: "\f105";
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: -30px;
      }
    }

    .jcarousel-prev{
      &::before{
        font-family: "fontawesome" !important;
        content: "\f104";
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: -30px;
      }
    }

    .views-row{
      float: left;
      width: 25%;
      padding-left: 30px;
      max-width: 270px;

      &.views-row-first{
        padding-left: 0;
      }
    }

    a{
      color: $color-primary;
      font-family: "Open Sans Semibold", "Open Sans", "sans-serif";

      &:hover{
        color: $color-hover-secondary;
      }
    }
  }

}

.footer{
  background: $color-secondary-dark;
  color: $color-secondary-light;
  font-family: "OpenSans-Regular", "sans-serif";

  a{
    color: $color-primary;

    &:hover{
      color: $color-hover-primary;
    }
  }

  &__item{
    text-align: center;
    font-size: 14px;

    &--first{
      padding-top: 30px;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid $grey;
      box-shadow: 0 -1px 0 $shadow inset;
    }

    &--last{
      padding-bottom: 22px;
    }

    ul{
      padding: 0;
      margin: 0;
    }

    i{
      font-size: 17px;
      font-weight: bold;
    }
  }

  &__nav > li{
    display: inline-block;
    padding-right: 18px;
  }

  &__container{
    //height: $footer-height;
    width: 100%;
    margin: auto;
    padding: 0 $standard--padding;
    max-width: 1170px;
  }
}
